.pozicija {
	position:absolute;
	top:18%;
	left:7%;
	font-size:2vw;
	background-color:#000;
	padding:1%;
	color:#fff;
	border-radius:5px;
	font-family:roboto;
}

.slika {
	position:relative;
}

.pozadina {
	background-color:white;
}

.logo {
	background-image:url("img/logo.jpg");
	background-repeat:no-repeat;
}

ul li:hover {
	background-color:orange;
	border-radius:15px;
}

ul li:active {
	background-color:green;
}



